body{
	text-align:left;
	margin-left: 150px;
	margin-right: 200px;
	font-size:18px;
}

#header{ text-align: center;}

#mini-header{ font-size:18px; font-weight:bold; }

#selfie-style{ text-align: center; }